<app-header></app-header>
<div class="page-contact">
    <main id="main">

        <!-- ======= Directorios ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/register-header.jpg');">
          <div class="container position-relative d-flex flex-column align-items-center">
    
            <h2>Registrate</h2>
            <ol>
              <li><a href="/welcome">Inicio</a></li>
              <li>Registro</li>
            </ol>
    
          </div>
        </div><!-- Final de directorios -->
    </main>
    <!-- Formulario -->
    <div class="row mt-5">
      <div class="col-8 offset-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Registrate</h5>
            <form autocomplete="off" [formGroup]="miFormulario">
              <div class="row">
                <!-- Primera columna -->
                <div class="col-6">
                  <div class="mb-3">
                    <label for="nombre" 
                    class="form-label">Nombre:</label>
                    <input type="text" 
                    formControlName="nombre"
                    class="form-control" 
                    id="nombre" 
                    placeholder="Tu nombre">
                    <span *ngIf="campoValido('nombre')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="apellido_m" 
                    class="form-label">Apellido materno:</label>
                    <input type="text" 
                    formControlName="apellido_m" 
                    class="form-control" 
                    id="apellido_m" 
                    placeholder="Tu segundo apellido">
                    <span *ngIf="campoValido('apellido_m')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="sexo" 
                    class="form-label">Sexo:</label>
                    <select class="form-select"  
                    id="sexo" 
                    aria-label="Default select example" 
                    formControlName="sexo">
                      <option selected>Selecciona una opción</option>
                      <option value="hombre">Hombre</option>
                      <option value="mujer">Mujer</option>
                      <option value="none">Prefiero no decirlo</option>
                    </select>
                    <span *ngIf="campoValido('sexo')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="nombre" 
                    class="form-label">Contraseña:</label>
                    <input type="password"
                     class="form-control"
                     formControlName="password"
                      id="password"
                      placeholder="Tu nombre">
                      <span *ngIf="campoValido('password')" class="form-text text-danger">
                        Tu contraseña debe tener minimo 8 letras o numeros</span>
                  </div>
                  <div class="mb-3">
                    <label for="telefono" 
                    class="form-label">Télefono:</label>
                    <input type="number"  
                    class="form-control" 
                    id="telefono" 
                    formControlName="telefono"
                    placeholder="Tu télefono">
                    <span *ngIf="campoValido('telefono')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                </div>
                <!-- Segunda columna -->
                <div class="col-6">
                  <div class="mb-3">
                    <label for="apellido_p" 
                    class="form-label">Apellido paterno</label>
                    <input type="text"
                     class="form-control" 
                     id="apellido_p" 
                     formControlName="apellido_p"
                     placeholder="Tu primer apellido">
                     <span *ngIf="campoValido('apellido_p')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="edad" 
                    class="form-label">Edad</label>
                    <input type="number" 
                    class="form-control" 
                    id="edad" 
                    formControlName="edad"
                    placeholder="Tu Edad">
                    <span *ngIf="campoValido('edad')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="correo" 
                    class="form-label">Correo:</label>
                    <input type="email" 
                    class="form-control" 
                    id="correo" 
                    formControlName="correo"
                    placeholder="Tu correo">
                    <span *ngIf="campoValido('correo')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="conpassword" 
                    class="form-label">Repetir contraseña:</label>
                    <input type="password" 
                    ngModel class="form-control" 
                    id="conpassword" 
                    formControlName="conpassword"
                    placeholder="Repite tu contraseña">
                    <span *ngIf="campoValido('conpassword')" class="form-text text-danger">
                      Campo obligatorio</span>
                  </div>
                  <div class="mb-3">
                    <label for="imagen" 
                    class="form-label">Imagen:</label>
                    <input type="file" 
                    accept="png, jpg" 
                    formControlName="imagen"
                    class="form-control" 
                    id="imagen">
                  </div>
                </div>
              </div>
              <button *ngIf="!id" type="submit" class="btn btn-primary"
              (click)="save()">
              Registrarse
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>