<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  
    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Asesorías Academicas</span>
            </a>
            <p>Plataforma digital de asesorías academicas con la finalidad de brindar un apoyo extra a los estudiantes para el desarrollo de nuevas habilidades</p>
            <div class="social-links d-flex  mt-3">
              <a href="https://github.com/TlacoSoft"><i class="ri-github-fill"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Enlaces utiles</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Inicio</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Acerca de</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Servicios</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Equipo</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Politica de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Asesorías presenciales</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Asesorías personalizadas</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Asesorías online</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Basico</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Medio Superior</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Superior</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactanos</h4>
            <p>
              Av. Universidad,<br>
              San Pablo Huixtepec,<br>
              Zimatlán Oaxaca<br><br>
              <strong>Télefono:</strong> +52 9516453214<br>
              <strong>Correo:</strong> TlacoSoft@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Asesorías Academicas</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
          Diseñado por <a href="https://github.com/TlacoSoft/Plataforma-Asesorias-Angular">TlacoSoft</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- Termina el Footer -->
