<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a routerLink="/welcome" class="logo d-flex align-items-center">
        <h1 class="d-flex align-items-center">Asesorias</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <button class="btn btn-dark" (click)="salir()">Cerrar Sesión</button>
        </ul>
      </nav>
    </div>
</header>
