<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a routerLink="/welcome" class="logo d-flex align-items-center" *ngIf="!isLogin">
        <h1 class="d-flex align-items-center">Asesorias</h1>
      </a>
      <a routerLink="/home" class="logo d-flex align-items-center" *ngIf="isLogin">
        <h1 class="d-flex align-items-center">Asesorias</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a [routerLink]="['/welcome']" class="active" *ngIf="!isLogin">Inicio</a></li>
          <li><a [routerLink]="['/home']" *ngIf="isLogin" class="active">Inicio</a></li>
          <li><a [routerLink]="['/team']">Equipo</a></li>
          <li><a [routerLink]="['/contact']">Contacto</a></li>
          <li><a [routerLink]="['/registro']" *ngIf="!isLogin">Registrarse</a></li>
          <li><a [routerLink]="['/login']" *ngIf="!isLogin">Ingresar</a></li>
          <li><button style="outline: none; border: none; background-color:transparent;color:#8f98a2; margin-left: 15px;"  (click)="saludar();" *ngIf="isLogin">Cerrar sesión</button></li>
        </ul>
      </nav>

    </div>
  </header><!-- Termina el Header -->
