<app-header></app-header>
<div class="page-index">
    <!-- ======= Sección Hero ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <h2 data-aos="fade-up">Asesorías Academicas</h2>
            <blockquote data-aos="fade-up" data-aos-delay="100">
              <p>Plataforma digital de asesorías academicas con la finalidad de brindar un apoyo extra a los estudiantes para el desarrollo de nuevas habilidades</p>
            </blockquote>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a [routerLink]="['/registro']" class="btn-get-started">Comenzar</a>
            </div>
  
          </div>
        </div>
      </div>
    </section><!-- Termina la sección Hero -->
  
    <main id="main">
  
      <!-- ======= Sección "Por qué nosotros?" ======= -->
      <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>¿Quienes somos?</h2>
  
          </div>
  
          <div class="row g-0" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-xl-5 img-bg" style="background-image: url('assets/img/why-us-bg.jpg')"></div>
            <div class="col-xl-7 slides  position-relative">
  
              <div class="slides-1 swiper">
                <div class="swiper-wrapper">
  
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">¿Quien somos?</h3>
                      <h4 class="mb-3">Aquí te va un poco de nosotros.</h4>
                      <p>Somos una empresa encargada en la realizacion e imparticion de asesorias, utilizando diferentes medios y formas de trabajo, dependiendo de las necesidades que el alumno tenga.</p>
                    </div>
                  </div>
  
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">¿Que ofrecen?</h3>
                      <h4 class="mb-3">La empresa cuenta con...</h4>
                      <p>Contamos con diferentes asesorias de diversos temas de aprendizaje, buscando el interes de nuevos alumnos, ofreciendoles cursos que van desde programacion hasta ingles, impartidos por nuestros expertos en el tema.</p>
                    </div>
                  </div>
  
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">¿Cuenta con niveles de enseñanza?</h3>
                      <h4 class="mb-3">Contamos con tres niveles de aprendizaje.</h4>
                      <p>En la empresa se encontrara con diferentes niveles de aprendizaje, a medida que el alumno avanza en las asesorias, escalara de niveles de aprendizaje: basico, medio-superior y superior.</p>
                    </div>
                  </div>
  
                  <div class="swiper-slide">
                    <div class="item">
                      <h3 class="mb-3">¿Que beneficios tiene la suscripcion?</h3>
                      <h4 class="mb-3">Cree una cuenta con nosotros ahora mismo.</h4>
                      <p>Al crear una cuenta accedera a un catalogo donde encontrara las diferentes asesorias con las que cuenta la empresa.</p>
                    </div>
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
  
          </div>
  
        </div>
      </section><!-- Termina sección "por qué nosotros?" -->
  
      <!-- ======= Sección de nuestros servicios ======= -->
      <section id="services-list" class="services-list">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Nuestros servicios</h2>
  
          </div>
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="icon flex-shrink-0"><i class="bi bi-building" style="color: #f57813;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Asesorías Presenciales</a></h4>
                <p class="description">Contamos con la modalidad de impartir asesorias a los alumnos de manera presencial, para un mayor entendimiento en el tema.</p>
              </div>
            </div>
            
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Asesorías personalizadas</a></h4>
                <p class="description">El alumno podra tomar la decision de como prefiere tomar la asesoria, teniendo un plan de asesorias personalizadas para su comodidad.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="icon flex-shrink-0"><i class="bi bi-camera-video-off" style="color: #d90769;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Asesorías Online</a></h4>
                <p class="description">La empresa cuenta con el servicio de asesorias online, donde el alumno podra tomar la asesoria desde la comodidad de su casa o lugar de preferencia.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="icon flex-shrink-0"><i class="bi bi-easel" style="color: #15bfbc;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Basica</a></h4>
                <p class="description">El nivel basico, es creado para que el alumno tenga acceso a conocimientos basicos sobre el tema de su preferencia.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart" style="color: #f5cf13;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Media-Superior</a></h4>
                <p class="description">En el nivel medio-superior, el alumno se enfrentara a retos y actividades mas avanzadas sobre los temas de su interes. </p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
              <div class="icon flex-shrink-0"><i class="bi bi-graph-up" style="color: #1335f5;"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Superior</a></h4>
                <p class="description">Por ultimo en el nivel superior, el estudiante encontrara temas avanzados a los vistos en los dos niveles anteriores, mejorando sus conocimientos en el tema de su preferencia.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- Termina seccion de nuestros servicios -->
  
      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <h3>Crea una cuenta con nosotros</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
              <a class="cta-btn" [routerLink]="['/registro']">Registrarse</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Call To Action Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
  
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
              <h3>Empoderamiento para <br>el desarrollo de nuevas habilidades en:</h3>
  
              <div class="row gy-4">
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-terminal-box-line" style="color: #ffbb2c;"></i>
                    <span>Programación</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-computer-line" style="color: #5578ff;"></i>
                    <span>Diseño UI</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-router-line" style="color: #e80368;"></i>
                    <span>Redes</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-pencil-ruler-line" style="color: #e361ff;"></i>
                    <span>Matemáticas</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-tools-line" style="color: #47aeff;"></i>
                    <span>Soporte y Mantenimiento</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-english-input" style="color: #ffa76e;"></i>
                    <span>Inglés</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-pie-chart-2-line" style="color: #11dbcf;"></i>
                    <span>Marketing</span>
                  </div>
                </div><!-- End Icon List Item-->
  
                <div class="col-md-6">
                  <div class="icon-list d-flex">
                    <i class="ri-file-list-line" style="color: #ff5828;"></i>
                    <span>Otros</span>
                  </div>
                </div><!-- End Icon List Item-->
              </div>
            </div>
            <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
              <div class="phone-wrap">
                <img src="assets/img/portfolio-header.jpg" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="details">
          <div class="container" data-aos="fade-up" data-aos-delay="300">
            <div class="row">
              <div class="col-md-6">
                <h4>Unete<br>hoy mismo!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nostrum molestias doloremque quae delectus odit minima corrupti blanditiis quo animi!</p>
                <a [routerLink]="['/registro']" class="btn-get-started">Registrate</a>
              </div>
            </div>
  
          </div>
        </div>
  
      </section><!-- End Features Section -->
  
      <!-- ======= Recent Blog Posts Section ======= -->
      <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Blogs de asesorías recientes</h2>
  
          </div>
  
          <div class="row gy-5">
  
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="post-box">
                <div class="post-img"><img src="assets/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">Lunes, 04 de Julio</span>
                  <span class="post-author"> / Mara Andrea</span>
                </div>
                <h3 class="post-title">Asesoría de Matemáticas | Mara Andrea</h3>
                <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi qui magni est...</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="post-box">
                <div class="post-img"><img src="assets/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">Lunes, 04 de Julio</span>
                  <span class="post-author"> / Jesito Quero</span>
                </div>
                <h3 class="post-title">Asesoría de Programación BackEnd | Jesito Quero</h3>
                <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis doloribus...</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="post-box">
                <div class="post-img"><img src="assets/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">Martes, 05 de Julio</span>
                  <span class="post-author"> / Nayeli Michelle</span>
                </div>
                <h3 class="post-title">Asesoría de Programación FrontEnd | Nayeli Michelle</h3>
                <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam...</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="post-box">
                <div class="post-img"><img src="assets/img/blog/blog-4.jpg" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">Martes, 05 de Julio</span>
                  <span class="post-author"> / José Alfredo</span>
                </div>
                <h3 class="post-title">Asesoría de Inglés | José Alfredo</h3>
                <p>Et consequatur eveniet nam voluptas commodi cumque ea est ex. Aut quis omnis sint ipsum earum quia eligendi...</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Recent Blog Posts Section -->
  
    </main><!-- End #main -->
  
    
  
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- <div id="preloader"></div> -->
</div>
<app-footer></app-footer>