<app-header></app-header>
    <main id="main">

        <!-- ======= Directorios ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/register-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Mis Asesorias</h2>
             <ol>
            <li><a href="/welcome">Inicio</a></li>
            <li>Mis Asesorias</li>
            </ol> 

        </div>
        </div><!-- Final de directorios -->
    </main>

<br>
<br>
<!-- Targetas para la informacion de asesorias-->
<div class="container mt-2">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let asesoria of asesorias">
      <div class="card">
        <img src="assets/img/misasesorias/matematicas.png" class="card-img-top" alt="" height="">
        <div class="card-body">
          <h5 class="card-title"><b>Nombre: </b>{{asesoria.nombre}}</h5>
            <p class="card-text"><b>Fecha: </b>{{asesoria.fecha}}</p>
            <p class="card-text"><b>Modalidad: </b>{{asesoria.modalidad}}</p>
            <span style="font-size:13pt;" class="badge text-bg-success" *ngIf="asesoria.estatus == 1">ACEPTADA</span>
            <span style="font-size:13pt;" class="badge text-bg-danger" *ngIf="asesoria.estatus == 2">Rechazada</span>
            <div>
              <button class="btn btn-danger mt-2" style="width: 100%;" (click)="deleteAsesoria(asesoria.idAsesoria);">Cancelar asesoría</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cerrando targetas para la informacion de asesorias-->



<app-footer></app-footer>

