<app-header></app-header>
    <main id="main">

        <!-- ======= Directorios ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/register-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Mis Asesorias</h2>
             <ol>
            <li><a href="/welcome">Inicio</a></li>
            <li>Mis Asesorias</li>
            </ol> 

        </div>
        </div><!-- Final de directorios -->
    </main>

<br>
<br>
<!-- Targetas para la informacion de asesorias-->
<div class="container mt-2">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/img/misasesorias/matematicas.png" class="card-img-top" alt="" height="">
        <div class="card-body">
          <h5 class="card-title">MATEMÁTICAS</h5>
            <p class="card-text">Encargado: Esli Paola Hernandez Blas</p>
            <p class="card-text">Fecha y Hora: 14/07/2022 a las 15:00 HRS</p>
            <p class="card-text">Modalidad: Presencial</p>
            <span style="font-size:13pt;" class="badge text-bg-success">ACEPTADA</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/misasesorias/androidd.jpg" class="card-img-top" alt="" height="">
        <div class="card-body">
          <h5 class="card-title">DESARROLLO PARA DISPOSITIVOS INTELIGANTES</h5>
            <p class="card-text">Encargado: Adelina Martìnez Nieto</p>
            <p class="card-text">Fecha y Hora: 20/07/2022 a las 12:00 HRS</p>
            <p class="card-text">Modalidad: En Lìnea</p>
            <span style="font-size:13pt;" class="badge text-bg-primary">PENDIENTE</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/img/misasesorias/web.jpeg" class="card-img-top" alt="" height="">
        <div class="card-body">
          <h5 class="card-title">DESARROLLO WEB PROFECIONAL</h5>
            <p class="card-text">Encargado: Erick Corro Pacheco</p>
            <p class="card-text">Fecha y Hora: 17/07/2022 a las 16:00 HRS</p>
            <p class="card-text">Modalidad: Presencial</p>
            <span style="font-size:13pt;" class="badge text-bg-danger">RECHAZADO</span>
        </div>
      </div>
    </div>
  
  </div>
</div>

<!-- Cerrando targetas para la informacion de asesorias-->



<app-footer></app-footer>

