<app-header></app-header>
<div class="page-team">

  
    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/team-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
  
          <h2>Equipo</h2>
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li>Equipo</li>
          </ol>
  
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Nuestro Equipo</h2>
  
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="team-member">
                <div class="member-img">
                  <img src="assets/img/team/fotoJezz.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Martinez Quero Jezreel Oseas</h4>
                  <span>LIDER</span>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="team-member">
                <div class="member-img">
                  <img src="assets/img/team/fotoNayee.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Mendoza Padilla Nayeli Michelle</h4>
                  <span>ANALISTA</span>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="team-member">
                <div class="member-img">
                  <img src="assets/img/team/fotoBrenda.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Marcial Mendez Brenda</h4>
                  <span>ANALISTA</span>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="team-member">
                <div class="member-img">
                  <img src="assets/img/team/fotoAndyy.jpeg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Martinez Carreño Mara Andrea</h4>
                  <span>DISEÑADORA</span>
                </div>
              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                  <div class="member-img">
                    <img src="assets/img/team/fotoRamiro.jpeg" class="img-fluid" alt="">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Martinez Juarez Ramiro</h4>
                    <span>PROGRAMADOR</span>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                  <div class="member-img">
                    <img src="assets/img/team/fotoRodo.jpeg" class="img-fluid" alt="">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Braquetes Lopez Edgar Rodolfo</h4>
                    <span>PROGRAMADOR</span>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                  <div class="member-img">
                    <img src="assets/img/team/fotoAlfredoo.jpeg" class="img-fluid" alt="">
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Martinez Catro Jose Alfredo</h4>
                    <span>TESTER</span>
                  </div>
                </div>
              </div><!-- End Team Member -->

  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
    </main><!-- End #main -->
</div>
    <app-footer></app-footer>